.time {
    width: calc(30% - 60px);
    height: 15%;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    border: 2px solid #0B3D91;
    gap: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0B3D91;
    color: white;
}