.loaction {
    width: 70%;
    height: 15%;
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    border: 2px solid #0B3D91;
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0B3D91;
    color: white;
}

.icon-logo {
    height: 98%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 1%;
    left: 1%;
}